<form [formGroup]="formulario" (ngSubmit)="onSubmit()">

    <div class="form-row">
        <div class="form-group col-md-12">
            <div class="radio radio-inline">
                <input type="radio" name="typeClient" formControlName="typeClient" id="pessoaFisica" value="fisica" checked="" (change)="onSelectionTypeClient('fisica')">
                <label for="pessoaFisica">Pessoa Física</label>
            </div>
            <div class="radio radio-inline">
                <input type="radio" name="typeClient" formControlName="typeClient" id="pessoaJuridica" value="juridica" (change)="onSelectionTypeClient('juridica')">
                <label for="pessoaJuridica">Pessoa Jurídica</label>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="codigo" class="control-label">Código</label>
            <input type="text" class="form-control" id="codigo" formControlName="codigo" placeholder="Código">
        </div>
        <div class="form-group col-md-10" [ngClass]="aplicaCssErro('nome')">
            <label for="nome" class="control-label" *ngIf="typeClientIsFisica()">Nome</label>
            <label for="nome" class="control-label" *ngIf="!typeClientIsFisica()">Razão Social da Empresa</label>
            <input type="text" class="form-control" id="nome" formControlName="nome" placeholder="Nome">
        </div>
    </div>

    <div class="form-row" *ngIf="typeClientIsFisica()">
        <div class="form-group col-md-3" [ngClass]="aplicaCssErro('cpf')">
            <label for="cpf">CPF</label>
            <input type="text" [textMask]="{mask: this.mask.CPF, guide: false}" class="form-control" formControlName="cpf" id="cpf" placeholder="XXX.XXX.XXX-XX"
            />
        </div>
        <div class="form-group col-md-3">
            <label for="rg">RG</label>
            <input type="text" [textMask]="{mask: this.mask.RG, guide: false}" class="form-control" id="rg" placeholder="XXXXXXX" />
        </div>
        <div class="form-group col-md-3">
            <label for="data-nascimento">Data de Nascimetno</label>
            <input type="text" [textMask]="{mask: this.mask.DATA}" class="form-control" id="data-nascimento" placeholder="DD/MM/AAAA"
            />
        </div>
        <div class="form-group col-md-3">
            <label for="sexo" class="control-label">Sexo</label>
            <select id="sexo" class="form-control" formControlName="sexo">
                <option value="f">Feminino</option>
                <option value="m">Masculino</option>
            </select>
        </div>
    </div>

    <div class="form-row" *ngIf="!typeClientIsFisica()">
        <div class="form-group col-md-6" [ngClass]="aplicaCssErro('cnpj')">
            <label for="cnpj">CNPJ</label>
            <input type="text" [textMask]="{mask: this.mask.CNPJ}" formControlName="cnpj" class="form-control" id="cnpj" placeholder="XXX.XXX.XXX/XXXX-XX"
            />
        </div>

        <div class="form-group col-md-1">
            <div class="checkbox checkbox-inline" style="margin-top: 30px">
                <input type="checkbox" name="icms" formControlName="icms" id="icms">
                <label for="icms">ICMS</label>
            </div>
        </div>
        <div class="form-group col-md-5">
            <label for="ie">Imposto de Exportação</label>
            <input type="text" class="form-control" id="ie" placeholder="Imposto de Exportação" />
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="email" class="control-label">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email">
        </div>
        <div class="form-group col-md-3">
            <label for="telefone" class="control-label">Telefone</label>
            <input type="telefone" [textMask]="{mask: this.mask.TELEFONE}" class="form-control" id="telefone" formControlName="telefone"
                placeholder="(XX) XXXX-XXXX">
        </div>
        <div class="form-group col-md-3">
            <label for="celular" class="control-label">Celular</label>
            <input type="celular" [textMask]="{mask: this.mask.CELULAR}" class="form-control" id="celular" formControlName="celular"
                placeholder="(XX) X XXXX-XXXX">
        </div>
    </div>

    <div class="form-row" *ngIf="typeClientIsFisica()">
        <div class="form-group col-md-6">
            <label for="nome_mae">Nome da mãe</label>
            <input type="text" class="form-control" id="nome_mae" placeholder="Nome da mãe" />
        </div>
        <div class="form-group col-md-6">
            <label for="nome_pai">Nome do pai</label>
            <input type="text" class="form-control" id="nome_pai" placeholder="Nome do pai" />
        </div>
    </div>

    <div formGroupName="endereco">
        <input type="hidden" formControlName="endereco_id">
        
        <div class="form-row">
            <div class="form-group col-md-2" [ngClass]="aplicaCssErro('endereco.cep')">
                <label for="cep" class="control-label">CEP</label>
                <input type="text" [textMask]="{mask: this.mask.CEP, guide: false}" (blur)="consultaCep()" class="form-control" formControlName="cep"
                    id="cep">
            </div>
            <div class="form-group col-md-10" [ngClass]="aplicaCssErro('endereco.rua')">
                <label for="rua" class="control-label">Endereço</label>
                <input type="text" class="form-control" id="rua" formControlName="rua" placeholder="Endereço">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6" [ngClass]="aplicaCssErro('endereco.bairro')">
                <label for="bairro" class="control-label">Bairro</label>
                <input type="text" class="form-control" id="bairro" formControlName="bairro" placeholder="Bairro">
            </div>
            <div class="form-group col-md-6" [ngClass]="aplicaCssErro('endereco.complemento')">
                <label for="complemento" class="control-label">Complemento</label>
                <input type="text" class="form-control" id="complemento" formControlName="complemento" placeholder="Complemento">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-2" [ngClass]="aplicaCssErro('endereco.numero')">
                <label for="numero" class="control-label">Número</label>
                <input type="text" class="form-control" id="numero" formControlName="numero" placeholder="Número">
            </div>
            <div class="form-group col-md-6" [ngClass]="aplicaCssErro('endereco.cidade')">
                <label for="cidade" class="control-label">Cidade</label>
                <input type="text" class="form-control" formControlName="cidade" id="cidade">
            </div>
            <div class="form-group col-md-4" [ngClass]="aplicaCssErro('endereco.estado')">
                <label for="estado" class="control-label">Estado</label>
                <input type="text" class="form-control" formControlName="estado" id="estado">
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="obs" class="control-label">Observações</label>
            <textarea class="form-control" formControlName="obs" id="obs" placeholder="Observações" rows="3"></textarea>
        </div>
    </div>
    <br />
    <br />
    <button type="submit" [disabled]="!formulario.valid" class="btn btn-default btn-fill">Submit</button>
    <button type="button" class="btn btn-primary" (click)="resetForm()">Reset</button>

    <app-form-debug [form]="formulario"></app-form-debug>
</form>